/*********
  Events
*********/
svg.search-icon { color: #fff;}

#events .event-item {
  margin: 0 0 15px;
  right: 0; 
}
@media (min-width: 767px) {
  #events .event-item { margin: 0 0 30px; }
}

#events .event-item .event-link {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  max-width: 400px;
  position: relative;
}

#events .event-item .event-link .event-hover {
  background: rgba(254, 209, 54, 0.9);
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.5s;
     -moz-transition: all ease 0.5s;
          transition: all ease 0.5s;
}
#events .event-item .event-link .event-hover:hover { opacity: 1; }

#events .event-item .event-link .event-hover .event-hover-content {
  color: #fff;
  font-size: 20px;
  margin-top: -12px;
  position: absolute;
  text-align: center;
  top: 50%;
  height: 20px;
  width: 100%;
}

#events .event-item .event-link .event-hover .event-hover-content i { margin-top: -12px; }

#events .event-item .event-caption {
  background-color: #fff;
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
}

#events .event-item .event-caption p {
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: italic;
  margin: 0;
}

#events * { z-index: 2; }