/*********
  EVENTS
*********/
#events .event-item {
  margin: 0 0 15px;
  right: 0; 
}
@media (min-width: 767px) {
  #events .event-item { margin: 0 0 30px; }
}

/* Position overlay on top of event and display it on hover */
#events .event-item .event-link {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  max-width: 400px;
  position: relative;
  outline-color: #e5b136;
}
#events .event-item .event-link .event-hover {
  background: rgba(254, 209, 54, .9);
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.5s;
     -moz-transition: all ease 0.5s;
          transition: all ease 0.5s;
}
#events .event-item .event-link .event-hover:hover { opacity: 1; }

/* Position search icon at the center of overlay */
#events .event-item .event-link .event-hover .event-hover-content {
  color: #fff;
  font-size: 20px;
  margin-top: -12px;
  position: absolute;
  text-align: center;
  top: 50%;
  height: 20px;
  width: 100%;
}
#events .event-item .event-link .event-hover .event-hover-content svg { 
  margin-top: -12px;
  color: #fff;
}

#events .event-item .event-caption {
  background-color: #fff;
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 
              0 3px 1px -2px rgba(0, 0, 0, .2), 
              0 1px 5px 0 rgba(0, 0, 0, .12);
}

#events .event-item .event-caption p {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: italic;
  margin: 0;
}

#events * { z-index: 2; }