/**********
  GENERAL
**********/
body {
  overflow-x: hidden;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p { line-height: 1.75; }

p.mb-4,
p.mb-5 {
  font-size: 1.1rem;
}
@media (max-width: 425px) {
  p.mb-4,
  p.mb-5 {
    font-size: 1rem;
  }
}

a,
svg.fa-3x {
  color: #e5b136;
  transition: color .5s;
}
a:hover,
svg.contact-icon:hover { 
  color: #ebc363;
}

section { padding: 100px 0; }
@media (min-width: 768px) {
  section { padding: 150px 0; }
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
@media (max-width: 425px) {
  section h2.section-heading { font-size: 35px; }
}

.btn-yellow {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #fff;
  background-color: #e5b136;
  border-color: #e5b136;
}
.btn-yellow:active, 
.btn-yellow:focus, 
.btn-yellow:hover {
  background-color: #ebc363;
  border-color: #ebc363;
  color: #fff;
}

/* Add Material Design Style */
.material,
.timeline > li .timeline-image.material {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 
              0 3px 1px -2px rgba(0, 0, 0, .2), 
              0 1px 5px 0 rgba(0, 0, 0, .12);
  transition: all .3s cubic-bezier(.25, .8, .25, 1);
}
.material:focus,
.material:hover,
.timeline > li .timeline-image.material:focus,
.timeline > li .timeline-image.material:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 
              0 1px 18px 0 rgba(0, 0, 0, .12), 
              0 3px 5px -1px rgba(0, 0, 0, .2);
}
.material:active,
.timeline > li .timeline-image.material:active {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 
              0 3px 14px 2px rgba(0, 0, 0, .12), 
              0 5px 5px -3px rgba(0, 0, 0, .2);
}

a.btn-yellow,
input.btn-yellow {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  padding: 1rem 2rem;
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
}

::-moz-selection {
  background: #e5b136;
  text-shadow: none;
}
::selection {
  background: #e5b136;
  text-shadow: none;
}

img::selection { background: transparent; }
img::-moz-selection { background: transparent; }

hr.my-4,
hr.mt-4.mb-5 {
  border-color: #e5b136;
  border-width: 2px;
  max-width: 50px;
}

/****************
  SCROLL-TO-TOP
****************/
.scroll-to-top {
  background-color: rgba(33, 37, 41, .5);
  color: #fff;
  display: none;
  line-height: 38px;
  bottom: 15px;
  right: 15px;
  position: fixed;
  width: 40px;
  height: 40px;
  text-align: center;
  z-index: 3;
  transition: all .5s;
}
.scroll-to-top:focus,
.scroll-to-top:hover {
  color: #fff;
}
.scroll-to-top:hover { background-color: #212529; }