/**************
    GENERAL
**************/
body {
  overflow-x: hidden;
  font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p { line-height: 1.75; }

a,
svg.fa-3x {
  color: #e5b136;
  transition: color .5s;
}
a:hover,
svg.contact-icon:hover { 
  color: #ebc363;
}

section { padding: 100px 0; }
@media (min-width: 768px) {
  section { padding: 150px 0; }
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@media (max-width: 425px) {
  section h2.section-heading { font-size: 35px; }
}

.btn-yellow {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: white;
  background-color: #e5b136;
  border-color: #e5b136;
}
.btn-yellow:active, 
.btn-yellow:focus, 
.btn-yellow:hover {
  background-color: #fec810;
  border-color: #fec810;
  color: white;
}
.btn-yellow:active, 
.btn-yellow:focus { 
  box-shadow: 0 0 0 0.2rem rgba(229, 177, 54, 0.5);
}

a.btn-yellow,
input.btn-yellow {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  padding: 1rem 2rem;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

::-moz-selection {
  background: #e5b136;
  text-shadow: none;
}

::selection {
  background: #e5b136;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

hr.my-4,
hr.mt-4.mb-5 {
  border-color: #e5b136;
  border-width: 3px;
  max-width: 50px;
}

/****************
  SCROLL-TO-TOP
****************/
.scroll-to-top {
  background-color: rgba(33, 37, 41, .5);
  color: #fff;
  display: none;
  line-height: 38px;
  bottom: 15px;
  right: 15px;
  position: fixed;
  width: 40px;
  height: 40px;
  text-align: center;
  z-index: 3;
}
.scroll-to-top:focus,
.scroll-to-top:hover {
  color: #fff;
}
.scroll-to-top:hover { background-color: #212529; }

