/**********
    NAV
**********/
#mainNav { background-color: #212529; }

#mainNav .navbar-brand { color: #e5b136; }
#mainNav .navbar-brand.active, 
#mainNav .navbar-brand:active, 
#mainNav .navbar-brand:focus, 
#mainNav .navbar-brand:hover { 
  color: #ebc363;
}

#mainNav .navbar-toggler {
  background-color: #e5b136;
  border: 0;
  color: white;
  font-size: 12px;
  padding: 13px;
  right: 0;
  text-transform: uppercase;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-nav .nav-item .nav-link {
  color: white;
  font-size: 90%;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 0.75em 0;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#mainNav .navbar-nav .nav-item .nav-link.active, 
#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #e5b136;
}

@media (min-width: 992px) {
  #mainNav {
    background-color: transparent;
    border: none;
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top .3s, 
                        padding-bottom .3s;
       -moz-transition: padding-top .3s, 
                        padding-bottom .3s;
            transition: padding-top .3s, 
                        padding-bottom .3s;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all .3s;
       -moz-transition: all .3s;
            transition: all .3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}